# System Files
.DS_Store

# Dependency directories
node_modules/

# Dev files
dev-data/data/tours-simple.json

# Environment variables file
config.env

# Parcel bundler
.parcel-cache/
public/js/bundled/